<link rel="stylesheet" href="/css/pMeal.css"/>

<container class="mealKitContainer">
    <img src="/images/Burgers/{{imageUrl}}"><br>
    <h1>{{title}}</h1><br>
    <i>Description: {{description}}</i>
    <a>Includes: {{includes}}<br></a>
    <a>Cooking Time: {{cookingTime}}</a><br>
    <a>Servings: {{servings}}</a><br>
    <a href="/customer/add-meal/:{{id}}">Buy For ${{price}}</a>
</container>